**/.terraform/*

*.tfstate
*.tfstate.*

crash.log

*.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.terragrunt-cache

*.pem

*.bak

*gitignore*.tf

.DS_Store

.vscode/